{
  "presets": [
    "@babel/env"
  ],
  "plugins": [
    [
      "@babel/transform-runtime"
    ]
  ],
  "env": {
    "node": {
      "plugins": [
        "add-module-exports"
      ]
    },
    "test": {
      "plugins": [
        "add-module-exports",
        [
          "istanbul",
          {
            "exclude": [
              "**/*.spec.js"
            ]
          }
        ]
      ]
    }
  }
}